@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == only-desktop {
    @media only screen and (min-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == only-phone {
    @media only screen and (min-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == large-desktop {
    @media only screen and (min-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}
//Picture Layout in Right panel
.projectmain {
  // display: grid;
  // grid-template-columns: 1fr repeat(12, minmax(auto, 20vw)) 1fr;
  // grid-gap: 5vw;
  //Right panel
  margin-left: 7vw;
  @include respond(phone) {
    margin-left: 0;
  }
  &__maincontainer {
    margin-left: 18vw;
    @include respond(phone) {
      margin-left: 0vw;
      margin-top: 260px;
    }
    &__box {
      @include respond(big-desktop) {
        // width: 24vw;
      }
    }
    &__projectpic {
      @include respond(phone) {
        border-radius: 0px;
      }
      // object-fit: cover;
      // border-radius: 20px;
      // max-width: 100%;
      // max-height: 100%;
      // display: block; /* remove extra space below image */
      object-fit: fill;
      border-radius: 10px;
      width: 100%;
      height: 35vh;
      /* max-height: 100%; */
      display: block;
    }
  }

  @include respond(phone) {
    display: block;
  }

  &__cards {
    @include respond(phone) {
      display: block;
    }
    // grid-column: 2 / span 12;
    // display: grid;
    // grid-template-columns: repeat(12, minmax(auto, 20vw));
    // grid-gap: 1vw;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 2vw));
    grid-gap: 4vw;
  }
  &__card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    // background-color: blue;
    border: none;

    transition: all 0.3s ease 0s;
  }
}
.modal-body {
  margin: auto;
}
.modalcomment {
  position: relative;
  height: 40vh;
  width: 25vw;
  overflow-y: auto;
  scroll-behavior: smooth;
  @include respond(big-desktop) {
    width: 10vw;
  }
  @include respond(phone) {
    width: 50vw;
  }
}

.icon {
  position: relative;
  width: 20px;
  top: -5px;
}

.panelmobileicon {
  // could not combine it with panel
  // due to display none not working
  @include respond(only-desktop) {
    display: none;
  }
  @include respond(phone) {
    display: block;
    -webkit-box-align: center;

    align-items: center;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;

    flex-direction: row;
    height: 77px;
    -webkit-box-pack: center;

    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1010px;
    padding: 26px 20px;

    transition: height 0.2s ease-in-out;
    width: 100%;
    &__img {
      display: block;
      height: 30px;
      width: 30px;
    }

    &__left {
      display: flex;
      -webkit-box-flex: 1;
      font-weight: 600;
      font-size: 5em;
      font-family: "Tangerine", cursive;
      flex: 1 9999 0%;
      min-width: 40px;
      display: flex;
    }
    &__bar {
      display: block;
      transform: scaleX(0.5);
      transform-origin: left;
      margin-top: 15px;
      margin-right: 10px;
      margin-left: 10px;
      background-color: rgba(var(--i1d, 38, 38, 38), 1);

      height: 30px;
      //margin: 0 4px;
      transition: opacity 0.1s ease-out;
      width: 1px;
    }
  }
}

.panel {
  position: fixed;
  width: 18vw;
  height: 100%;
  padding-left: 2.5vw;

  @include respond(phone) {
    //Everything within the brackets is mobile
    display: block;
    padding: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;

    align-items: center;
    background-color: rgb(255, 255, 255);
    background-color: rgba(var(--cdc, 255, 255, 255), 1);

    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    // border-bottom: 1px solid rgb(207, 101, 87);
    height: 77px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    transition: height 0.2s ease-in-out;
  }

  &__menu {
    // Everything here is apart of menu
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    text-align: left;
    background-color: white;
    @include respond(phone) {
      position: fixed;
      display: flex;
      z-index: 1;
      margin-bottom: 10px;
      height: 180px;

      width: 100%;
    }

    &__logo {
      font-size: 4vw;
      margin-bottom: 2vh;
      font-family: "Tangerine", cursive;
      font-weight: 600;
      @include respond(phone) {
        display: none;
      }
    }
    &__picbox {
      width: 15vw;
      @include respond(phone) {
        margin-top: 4vh;

        height: 15vh;
        width: 30vw;
        margin-left: 10vw;
      }
    }
    &__profilepic {
      object-fit: cover;
      border-radius: 10px;
      max-width: 100%;
      max-height: 100%;
      display: block; /* remove extra space below image */
    }
    &__emptyprofilepic {
      object-fit: cover;
      border-radius: 10px;
      max-width: 50%;
      max-height: 50%;
      display: block; /* remove extra space below image */
    }
    &__textbox {
      @include respond(phone) {
        width: 45vw;
      }
      font-size: 1.2vw;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      line-height: 2em; /* a */
      width: 15vw;
      max-height: 20vh;
      margin-top: 4vh;
      &__username {
        @include respond(phone) {
          font-size: 4.5vw;
          margin-bottom: 2vh;
        }
        font-size: 1.5vw;
        font-weight: 600;
        font-family: Arial, Helvetica;
        margin-bottom: 3vh;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      &__bio {
        @include respond(phone) {
          font-size: 3vw;
          margin-left: 1vw;
        }
        font-size: 1.3vw;
      }
    }
    // End of menu
  }
}
